 html, body {
	background: #015450;
}

.header {
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: 'Brush Script MT', cursive;
}

.headerHolder {
	display: inline-block;
	padding-left: 40%;
	height: 120px;
}

.buttons {
	padding-left: 20%;
	display: inline-block;
}

.buttonText {
	color: white;
	font-size: 20px;
	border: none;
	background-color: #015450;
}

.homeButton,
.contactUsButton {
	padding-left:5px;
	display: inline-block;
}

.home {
	position: relative;
	display: flex;
	height: 800px;
	width: 100%;
	background-color: #025955;
}

.homeImage {
	position: relative;
	height: 100%;
	width: 100%;
}

.homeText {
	text-align: center;
	color: white;
	font-size: 40px;
	padding: 150px 0;
	font-family: Garamond, serif;
}

.homeText2 {
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: Garamond, serif;
}

.homeImageHolder {
	display: flex;
	height: 85%;
	width: 45%;
	padding-left: 5%;
	padding-top: 4%;
	display: inline-block;
}

.homeTextHolder {
	display: flex;
	height: 85%;
	width: 49%;
	padding-top: 4%;
	display: inline-block;
}

.products {
	position: relative;
	display: flex;
	height: 400px;
	width: 100%;
	background: #015450;
}

footer {
	padding-top: 4%;
	text-align: center;
	color: white;
}

@media (max-width: 600px) {
	.headerHolder{
		padding-left: 15%;	
	}
	.buttons {
		padding-left: 20%;
		z-index: 15;
	}
	.homeImageHolder {
		width: 100%;
		height: 600px;
		display: block;
		z-index: 5;
		padding-left:0%;
	}
	.homeTextHolder {
		display: block;
		z-index: 10;
		position: absolute;
		top: -50px;
		left: 150px;
		margin-top:50px;
	}
	.home {
		width: 100%;
		display: block;
		height: 700px;
		z-index: 3;
	}
	
}